{% extends "base_cart.html" %}
{% load static %}
{% load humanize %} 


{% block title %}
    سبد خرید شما
{% endblock title %}

{% block header_refrences %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{% static "cart/styles.css" %}" rel="stylesheet" />
{% endblock header_refrences %}

{% block header_section_shop  %}
    <!-- Navigation-->
    {% include "shop/includes/navbar.html" %}

    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show text-end" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      {% endfor %}
    
    {% endif %}
    <!-- Header-->
    {% include "shop/includes/header.html" %}
{% endblock header_section_shop %}