{% load static %}
<li>
  <article>
    <a href="">
      <img src="{% static 'Blog/images/django.jpg' %}" alt="" />
      <div class="post__content">
        <h3>learning Django</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vero
          dolore delectus obcaecati modi sapiente asperiores omnis molestias
          doloribus! Nam labore repellendus vel quos cupiditate dolorum aliquam
          quasi beatae debitis.
        </p>
      </div>
    </a>
  </article>
</li>
