
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    {% block header_refrences %}{% endblock  %}
</head>
<body>
    <header id="main-navigation">
        <h1><a href="">MFT Blog</a></h1>
        <nav>
            <a href="">All Posts</a>
            <a href="">Login</a>
            <a href="">Sign Up</a>
            <a href="{% url "index_shop" %}">Shop</a>
        </nav>
    </header>
    {% block content %}{% endblock  %}
    {% block footer_refrences %}{% endblock  %}
</body>
</html>