<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}{% endblock title %}</title>
    {% block header_refrences %}

    {% endblock header_refrences %}


</head>
<body>
    {% block header_section_shop %}
    {% endblock header_section_shop %}

    {% block content_section_shop %}
    {% endblock content_section_shop %}
    
    {% block footer_section_shop %}
    {% endblock footer_section_shop %}
</body>
</html>